<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pos Web</title>
  <link rel="stylesheet" href="../styles/main.css"/>
  <link href="../lib/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Let's Go</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="../index.html">主页</a></li>
          <li class="active"><a href="#">Admin</a></li>
        </ul>
      </div>
      <div class="pull-right">
        <ul class="nav navbar-nav">
         <li>
          <a href="/shop"><span class="glyphicon glyphicon-shopping-cart"></span> 购物车 (<span id="count"><%= @count %></span>)</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container theme-showcase" role="main">
  <div class="panel panel-default">
    <table id="item-table" class="table table-bordered" style="table-layout:fixed">
      <thead>
        <tr>
          <th class="active" colspan="6" style="text-align:center"><h4>商品列表</h4></th>
        </tr>
        <tr>
          <th>名称</th>
          <th>单价(元)</th>
          <th>单位</th>
          <th>数量</th>
          <th>描述信息</th>
          <th>管理</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
        <tr id=<%= product.id %>>
          <td class="product-name"><%= product.name %></td>
          <td class="product-price"><%= product.price %></td>
          <td class="product-unit"><%= product.unit %></td>
          <td class="product-number"><%= product.number %></td>
          <td class="product-information"><%= product.information%></td>
          <td>
            <a href="#" class="edit-product">
              <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a href="#" class="delete-product">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
            <label class="pull-right">
              <input type="checkbox" name="promotion" <%= product.promoted =="true" ? "checked":"unchecked" %> >买二送一
            </label>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-primary add-product">添加商品</button>
</div>

<div class="overlay">
  <div class="background"></div>
  <div class="container product">
    <form id="product-form" role="form">
      <fieldset>
        <div class="form-group">
         <label for="name">商品名称</label>
         <input type="text" id="name" class="form-control" placeholder="">
       </div>
       <div class="form-group">
         <label for="price">商品单价</label>
         <input type="text" id="price" class="form-control" placeholder="">
       </div>
       <div class="form-group">
         <label for="unit">单位</label>
         <input type="text" id="unit" class="form-control" placeholder="">
       </div>
       <div class="form-group">
         <label for="number">数量</label>
         <input type="text" id="number" class="form-control" placeholder="">
       </div>
       <div class="form-group">
         <label for="information">描述信息</label>
         <input type="text" id="information" class="form-control" placeholder="">
       </div>
       <button id="submit" class="btn btn-primary"></button>
       <button id="cancel" class="btn btn-primary">取消</button>
     </fieldset>
   </form>
 </div>
</div>
<script type="text/javascript" src="../lib/jquery-2.1.1/jquery-2.1.1.js"></script>
<script type="text/javascript" src="../lib/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../lib/lodash-2.4.1/lodash.compat.js"></script>
<script type="text/javascript" src="../scripts/model/item.js"></script>
<script type="text/javascript" src="../scripts/model/promotion.js"></script>
<script type="text/javascript" src="../scripts/utils.js"></script>
<script type="text/javascript" src="../scripts/admin.js"></script>

 </body>
 </html>
