<%= erb :'layout/customer_header' %>
  <div class="container theme-showcase" role="main">
    <div class="panel panel-default">
      <table class="table table-bordered back"  style="table-layout:fixed">
        <thead>
          <tr>
            <th style="background: #ccc;" class="active" colspan="5"><h4>
              <input type="checkbox" class="all" style="margin-right:5px">购物清单</h4></th>
          </tr>
          <tr class="table-clo">
            <th style="padding-left:24px" >名称</th>
            <th>单价(元)</th>
            <th>单位</th>
            <th>数量</th>
            <th>小计</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr id=<%= item.id %> promoted=<%= item.promoted%>>
                <td>
                  <input type="checkbox" class="sub" style="margin-right:4px">
                  <label><%= item.name%></label>
                  <div style="display: <%= (item.promoted=="true" && item.num > 2) ? "block" : "none" %>;" class="show_promotion">
                    <a class="promotion">买二送一啦~</a>
                  </div>
                </td>
                <td class="money"><%= item.price%></td>
                <td><%= item.unit%></td>
                <td>
                  <div class="input-group col-lg-6">
                      <span class="input-group-btn"><button name="subtract" class="btn btn-default numcolor" type="button">-</button></span>
                      <input readonly style="background-color:#585858;" class="form-control numlcation" name="number" type="text" maxlength=2 value=<%= item.num%>>
                      <span class="input-group-btn"><button name="plus" class="btn btn-default numcolor" type="button">+</button></span>
                  </div>
                </td>
                <td class="money">
                    <p name="subTotal" style="display:inline-block"><%= item.price * item.num%></p>
                    <a name="remove" key=<%= item.id %> class="trash" href="#">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
          <% end %>
          <tr>
            <td colspan="5" style="text-align:right"><p>总计：<span class="money" name="total">0.00</span>元</p>
              <a name="payment" class="btn btn-primary btn-small" role="button">付款</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
<%= erb :'layout/customer_footer' %>
