<%= erb :'layout/items_header' %>
  <div class="container theme-showcase" role="main">
    <div class="panel panel-default">
      <table id="item-table" class="table table-bordered back" style="table-layout:fixed">
        <thead class="table-clo">
          <tr>
            <th class="active" colspan="5" style="text-align:center;background:#ccc;"><h4>商品列表</h4></th>
          </tr>
          <tr>
            <th>名称</th>
            <th>单价(元)</th>
            <th>单位</th>
            <th>描述信息</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <% @products.each do |product| %>
              <tr id=<%= product.id %>>
                <td><%= product.name %></td>
                <td><%= product.price %></td>
                <td><%= product.unit %></td>
                <td><%= product.information %></td>
                <td class="addInCart">
                    <button class="btn btn-primary btn-small" name="add">加入购物车</button>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
<%= erb :'layout/items_footer' %>

