<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pos Web</title> 
  <link href="../lib/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../styles/payment.css"/>
</head>

<body>
  
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="items.html">Let's Go</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="../index.html">主页</a></li>
          <li><a href="items.erb">商品列表</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="cart.erb"><span class="glyphicon glyphicon-shopping-cart"></span> 购物车(<span id="count">2</span>)</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container theme-showcase" role="main">
    <div class="panel panel-default">
      <table class="shopping-list table table-bordered back"  style="table-layout:fixed">
        <thead>
          <tr>
            <th style="background: #ccc;" class="active" colspan="5">
              <h3>订单编号:<%= @guid %></h3>
              <h3>订购时间:<%= @time %></h3>
              <h4 class="details">订单明细</h4>
            </th>
          </tr>
          <tr class="table-clo">
            <th>名称</th>
            <th>单价(元)</th>
            <th>单位</th>
            <th>数量</th>
            <th>小计</th>
          </tr>
        </thead>
        <tbody name="shopping">
           <% unless @shopping_items.nil? %>
              <% @shopping_items.each do |item| %>
                <tr>
                  <td><%= item["name"]%></td>
                  <td><%= item["price"]%></td>
                  <td><%= item["unit"]%></td>
                  <td><%= item["num"]%></td>
                  <td><%= item["subTotal"]%></td>
                </tr>
              <% end %>
           <% end %>
        </tbody>
      </table>
      <table class="table table-bordered back"  style="table-layout:fixed">
        <thead>
          <tr>
            <th style="background: #ccc;" class="active" colspan="3"><h4>赠送商品</h4></th>
          </tr>
          <tr  class="table-clo">
            <th>名称</th>
            <th>数量</th>
            <th>单位</th>
          </tr>
        </thead>
        <tbody name="promotion">
            <% unless @promotion_items.nil? %>
              <% @promotion_items.each do |item| %>
                <td><%= item["name"]%></td>
                <td><%= item["num"]%></td>
                <td><%= item["unit"]%></td>
              <% end %>
            <% end %>
        </tbody>
        <tfoot>
            <tr>
              <td colspan="3" style="text-align:right">
                <p class="money">总计：<span name="totalMoney"><%= @total%></span>元</p>
                <p class="money">节约：<span name="totalSavingMoney"><%= @subTotal%></span>元</p>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <script type="text/javascript" src="../lib/jquery-2.1.1/jquery-2.1.1.js"></script>
  <script type="text/javascript" src="../lib/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="../lib/lodash-2.4.1/lodash.compat.js"></script>
  <script type="text/javascript" src="../scripts/model/item.js"></script>
  <script type="text/javascript" src="../scripts/model/promotion.js"></script>
  <script type="text/javascript" src="../scripts/utils.js"></script>

</body>
</html>
