<% if session[:admin] %>
<%= erb :'layout/admin_header' %>
<% else %>
<%= erb :'layout/customer_header' %>
<% end %>
  <div class="container theme-showcase" role="main">
    <div class="panel panel-default">
      <table class="shopping-list table table-bordered back"  style="table-layout:fixed">
        <thead>
          <tr>
            <th style="background: #ccc;" class="active" colspan="5">
              <h3 class="order_title"><strong>订单编号:<%= @guid %></strong>
                <a href="/orders">
                <span class="glyphicon glyphicon-arrow-left goback">返回</span>
                </a>
              </h3>
              <h3 class="order_title"><strong>所属用户:<%= @username %></strong></h3>
              <h3 class="order_title"><strong>订购时间:<%= @time %></strong></h3>
              <h4 class="details">订单明细</h4>
            </th>
          </tr>
          <tr class="table-clo">
            <th>名称</th>
            <th>单价(元)</th>
            <th>单位</th>
            <th>数量</th>
            <th>小计</th>
          </tr>
        </thead>
        <tbody name="shopping">
           <% unless @shopping_items.nil? %>
              <% @shopping_items.each do |item| %>
                <tr>
                  <td><%= item["name"]%></td>
                  <td><%= item["price"]%></td>
                  <td><%= item["unit"]%></td>
                  <td><%= item["num"]%></td>
                  <td><%= item["subTotal"]%></td>
                </tr>
              <% end %>
           <% end %>
        </tbody>
      </table>
      <table class="table table-bordered back"  style="table-layout:fixed">
        <thead>
          <tr>
            <th style="background: #ccc; text-align:center;" class="active" colspan="3"><h4>赠送商品</h4></th>
          </tr>
          <tr  class="table-clo">
            <th>名称</th>
            <th>数量</th>
            <th>单位</th>
          </tr>
        </thead>
        <tbody name="promotion">
            <% unless @promotion_items.nil? %>
              <% @promotion_items.each do |item| %>
                <td><%= item["name"]%></td>
                <td><%= item["num"]%></td>
                <td><%= item["unit"]%></td>
              <% end %>
            <% end %>
        </tbody>
        <tfoot>
            <tr>
              <td colspan="3" style="text-align:right">
                <p class="money">总计：<span name="totalMoney"><%= @total%></span>元</p>
                <p class="money">节约：<span name="totalSavingMoney"><%= @subTotal%></span>元</p>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
<% if session[:admin] %>
<%= erb :'layout/admin_footer' %>
<% else %>
<%= erb :'layout/customer_footer' %>
<% end %>
