
<% if session[:admin] %>
<%= erb :'layout/admin_header' %>
<% else %>
<%= erb :'layout/customer_header' %>
<% end %>
  <div class="container theme-showcase order_border" role="main">
    <% if @orderlist.nil? || @orderlist.length == 0  %>
      <h1>当前无任何订单,请前往<a href="/views/items">商品列表</a>进行购买！</h1>
    <% else %>
      <% @orderlist.each do |order|%>
        <div id="navbar" class="navbar-collapse collapse box">
            <p>订单编号：<%= order["guid"] %><span name="remove" id=<%= order["guid"] %> class="glyphicon glyphicon-remove remove"></span></p>
            <ul class="nav navbar-nav order">
              <li>
                <a href="/orders/<%= order["guid"] %>"class="datails">详情信息<span class="glyphicon glyphicon-list-alt details"></span></a>
              </li>
              <li><%= order["time"] %></li>
              <li><%= order["totalMoney"] %>¥</li>

            </ul>
        </div>
      <% end %>
    <% end %>
  </div>

<% if session[:admin] %>
<%= erb :'layout/admin_footer' %>
<% else %>
<%= erb :'layout/customer_footer' %>
<% end %>
